body{
	margin:0px;
	padding:0px;
	color:black;
	font-family: 'Raleway', sans-serif;
	background-size: cover;
	background-color:white;
	text-shadow:0px 0px 2px rgba(148,148,148, 0.6);;
        background-size: 100%;
    	background-attachment: fixed;
        text-align: center;
	
}
p{font-size:15px;letter-spacing:1;}
div .items ul{
	list-style-type:none;
}
.pictures li img{
	width:800px;
	box-shadow:0px 0px 0px;
}
.pictures li img{transition: all 0.3s ease-in-out; opacity: 0.7;}
.pictures li img:hover{opacity:1.0; box-shadow:0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19); }
div#nav-bar{
	
	padding:0;
	margin:0px;
	background-color: white;
	width:100%;
	height:20px;
	box-shadow: 0px 0px 5px rgba(148,148,148, 0.8);
	transition:all 0.7s ease-in-out;
}

div#nav-bar:hover { height:40px; }
div#nav-bar ul{
	list-style-type:none;
	opacity:1.0;
	font-size: 20px;
	margin-left: auto;
	margin-right:auto;
	padding-top:1px;
	margin-bottom: 10%;
}
#nav-bar ul li{
	padding-top:1px;
	text-align:center;
	display:inline;
}
a{ 
	text-shadow: 0px 0px 5px rgba(148,148,148, 0.7);;
    border-bottom: 10px ;
    letter-spacing: 40;
    font-size: 14px; 
    text-decoration: none;
    color:black;
    text-decoration: none;
    transition:all 0.3s ease;
}
a:hover{opacity:0.8; text-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}


#about{
	
	letter-spacing:0;
	font-size:20px;
	text-align:center;
	opacity:0.8;
	margin-bottom: 25%;
}
#content{
	width:100%;	
	box-shadow: 0px 3px 5px rgba(148,148,148, 0.3);
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 100;
    color: black;
    text-indent: 70;
}
div.items{
	box-shadow:0px -3px 2px rgba(148,148,148, 0.3);
	width:100%;
	display:none;
}
iframe{
	margin-right:0 auto;
	margin-left:0 auto;
}
#desc{
	
}
#info{
	box-shadow: 0px 0px 5px rgba(148,148,148, 0.7);;
    	border-bottom: 10px ;
	overflow:scroll;
	overflow-x: hidden;
	overflow-y: hidden; 
    	margin-top: 5%;
    	margin-bottom: 5%;
	font-size: 20;
	text-align: center;
}
footer{
	box-shadow: 0px 3px 5px rgba(148,148,148, 0.7);;
    	border-bottom: 10px ;
	font-size:16px;
	letter-spacing:1;	
}
