@keyframes move{from{background-position:left;}to{background-position:right;}}
body{  
	animation-name:move;
	animation-duration:200s;
	animation-fill-mode: forwards;
}
p{font-size:15px;letter-spacing:1;}
.pictures li img{
	width:800px;
}
.pictures li img{transition: all 0.3s ease-in-out; margin-bottom: 5%; opacity: 0.7;}
.pictures li img:hover{opacity:1.0; transform: scale(1.03);}
div.nav-bar ul{
	list-style-type:none;
	opacity:1.0;
	color:white;
	font-size: 20px;
	margin-left: auto;
	margin-right:auto;
	margin-top: 5%;
	margin-bottom: 10%;
}
li{
	display:inline;
}
a{ 
    border-bottom: 10px ;
    letter-spacing: 50;
    font-size: 20px; 
    text-decoration: none;
    color:white;
    text-decoration: none;
    transition:all 0.3s ease;
}
a:hover{opacity:0.8; font-size:24px;}
#about{
	letter-spacing:0;
	font-size:20px;
	text-align:center;
	opacity:0.8;
	margin-bottom: 10%;
}
#content{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 100;
    color: white;
    text-indent: 70;
}
div .items{
	display:none;
}
iframe{
	margin-right:0 auto;
	margin-left:0 auto;
}
.info{
	overflow:scroll;
	overflow-x: hidden;
	overflow-y: hidden; 
    margin-top: 5%;
    font-size: 20;
	text-align: center;
}
